<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <a class="navbar-brand" routerLink="home">
        <img src="assets/img/logo.png" height="30" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="transfer" routerLinkActive="active">Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="nfts" routerLinkActive="active">NFTs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="game" routerLinkActive="active">Game</a>
            </li>
        </ul>
        <div class="navbar-nav ml-auto">
            <div class="nav-item dropdown">
                <a class="nav-link balance-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/assets/img/balance-logo.png" width="20" height="20"> $
                </a>
            </div>
            <div class="nav-link connect-wallet-link custom-highlight" *ngIf="!walletLinked" (click)="connectMetamask()">Connect Wallet</div>
            <div *ngIf="walletLinked" class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" (click)="navigateToProfile()">Profile</a></li>
                    <li><a class="dropdown-item" routerLink="home" (click)="logOut()" >Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<app-loader [loading]="isLoading"></app-loader>
