.custom-navbar {
    background-color: #2C3E50;
    /*border-radius: 10px;*/
}

.custom-highlight {
    background-color: #32d4e5; 
    color: #32d4e5; 
    border-radius: 10px;
}
  
.custom-navbar .nav-link {
    color: #FFFFFF;
    border-radius: 10px;
}

.custom-navbar .nav-link[routerLink]:active {
    background-color: #6fabc357;
    border-radius: 10px;
}

.custom-navbar .navbar-toggler {
    border-color: #FFFFFF;
}

.balance-link {
    color: #FFFFFF;
}

.connect-wallet-link {
    color: #FFFFFF;
}
.connect-wallet-link:hover {
    cursor: pointer;
  }
