.custom-navbar {
    background-color: #2C3E50;
    /*border-radius: 10px;*/
}

.custom-navbar .nav-link {
    color: #FFFFFF;
}

.custom-navbar .navbar-toggler {
    border-color: #FFFFFF;
}

.balance-link {
    color: #FFFFFF;
}

.connect-wallet-link {
    color: #FFFFFF;
}
