.custom-container {
    background-color: #f4f6f9;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 90px);
    padding: 0;
    margin: 0;
}

.custom-navbar {
    background-color: #2C3E50;
}

.title-text {
    color: #4a4a4a;
}

.floating-gif {
    border-radius: 15px;
}

.connect-text {
    animation: pulsate 3s infinite;
  }
  
  @keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column-reverse;
    }
}
