.mat-snack-bar-container .custom-snackbar-alert {
    background: #ff0000 !important; 
    color: #ffffff !important; 
}

.mat-snack-bar-container .custom-snackbar-error {
    background: #ff0000 !important; 
    color: #ffffff !important; 
}

.mat-snack-bar-container .custom-snackbar-success {
    background: #09f73c !important; 
    color: #ffffff !important; 
}
