.custom-snackbar-alert {
    background: #ff0000 !important; 
    color: #ffffff !important; 
}

.custom-snackbar-error {
    background: #ff0000 !important; 
    color: #ffffff !important; 
}

.custom-snackbar-success {
    background: #ff0000 !important; 
    color: #ffffff !important; 
}
